.DS_Store
node_modules/
*.log
haters/
.idea/
pull_request_template.md
01-javascript-drum-kit/index-FINISHED.html
02-js-and-css-clock/index-FINISHED.html
03-css-variables/index-FINISHED.html
04-array-cardio-day-1/index-FINISHED.html
05-flex-panel-gallery/index-FINISHED.html
06-type-ahead/index-FINISHED.html
07-array-cardio-day-2/index-FINISHED.html
08-fun-with-html5-canvas/index-FINISHED.html
09-dev-tools-domination/index-FINISHED.html
10-hold-shift-and-check-checkboxes/index-FINISHED.html
11-custom-video-player/scripts-FINISHED.js
12-key-sequence-detection/index-FINISHED.html
13-slide-in-on-scroll/index-FINISHED.html
14-javascript-references-vs-copying/index-FINISHED.html
15-localstorage/index-FINISHED.html
16-mouse-move-shadow/index-FINISHED.html
17-sort-without-articles/index-FINISHED.html
18-adding-up-times-with-reduce/index-FINISHED.html
19-webcam-fun/scripts-FINISHED.js
20-speech-detection/index-FINISHED.html
21-geolocation/index-FINISHED.html
22-follow-along-link-highlighter/index-FINISHED.html
23-speech-synthesis/index-FINISHED.html
24-sticky-nav/index-FINISHED.html
24-sticky-nav/style-FINISHED.css
25-event_capture-propagation-bubbling_and_once/index-FINISHED.html
26-stripe-follow-along-nav/index-FINISHED.html
27-click-and-drag/index-FINISHED.html
28-video-speed-controller/index-FINISHED.html
29-countdown-timer/scripts-FINISHED.js
30-whack-a-mole/index-FINISHED.html
